/* Palatino Linotype is a font family that does not produce confussion */
body {
  font-family: "Palatino Linotype" !important;
}

#navigation-brand {
  background-color: black;
  opacity: 0.8;
}

.navigation-main-class {
  display: flex;
  height: 80px;
  align-items: center;
}

.navigation-main-class ul {
  list-style: none;
}

.navigation-main-class ul li a {
  padding: 20px;
}

.navigation-main-class ul li a:hover {
  border-bottom: 2px solid #fff;
}

.navigation-main-class ul.navigation-menu {
  flex: 1;
}

a,
#navigation-main h3 {
  color: #ffffff !important;
  text-decoration: none !important;
}

#container {
  min-height: 85vh;
}

.footer {
  text-align: center;
}
