/* Palatino Linotype is a font family that does not produce confussion */
body {
  font-family: "Palatino Linotype" !important;
}

/* Sets height to 70 px */
.container-fluid {
  height: 70px !important;
}

/* Shows the text with color white */
a {
  color: #ffffff !important;
}

/* Shows the bottom border of a list element on hover */
a:hover {
  border-bottom: 2px solid #fff;
}

/* Responsive height of the container */
#container {
  min-height: 85vh;
}

/* Centers footer's content vertically*/
#social-links {
  align-items: center;
}

/* Sets icon's color to black */
.icon {
  color: black;
  font-size: 60px;
}
